/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common */
.container {
  max-width: 1440px;
  margin: auto;
}

/* Header */
header {
  background-color: #e579e6;
  min-height: 100px;
  margin: 20px 0;
}

/* Main */
.placeholder-first {
  background-color: #e1d67a;
  min-height: 600px;
  margin: 20px 0;
}
