/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common */
.container {
  max-width: 1440px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Debug */
.debug header {
  background-color: #e579e6;
  min-height: 100px;
}

/* Header */
header {
  margin: 20px 0;
}

/* Main */
.article-img {
  background-color: #e1d67a;
  min-height: 600px;
  margin: 20px 0;
}

.article-container {
  background-color: #0086ff;
  height: 800px;
  margin-bottom: 5px;
}

.bg-lightaqua {
  background-color: #abcfe7;
}

.article-title {
  width: 100%;
  min-height: 20%;
  margin-bottom: 20px;
  float: left;
}

.article-col-left,
.article-col-right {
  width: 20%;
  min-height: calc(80% - 40px);
  margin-bottom: 20px;
  float: left;
}

.article-col-middle {
  width: calc(60% - 40px);
  min-height: calc(80% - 40px);
  margin: 0 20px;
  margin-bottom: 20px;
  float: left;
}

/* Footer */
footer {
  background-color: #8801fe;
  min-height: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}
